:root {
    /* colors */
    /* ---------------------- */
    --color-primary: #527C43;
    --color-secondary: #202C28;
    --color-secondary-alpha-09: hsla(160, 16%, 15%, 0.9);
    --color-accent: #d28303;
    --color-header: #FBFAF8;
    --color-gray: #bfc5bf4d;
    --color-gray-secondary: #7C857F;
    --color-white: #ffffff;
    --color-black: #262626;
    --color-meditation: #006fcf;
    --color-movement: #0d7243;
    --color-combat: #c6112f;

    /* fonts */
    /* ---------------------- */
    --font-family-primary: sans-serif;

    /* global helper */
    --border-width: 6px;
}

/* ---------------------- */
/* RESET                  */
/* ---------------------- */

/* Box sizing */
/* ---------------------- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height:100%;
}

/* Reset margins */
/* ---------------------- */
body,
h1, h2, h3, h4, h5, p,
figure, picture {
    margin: 0;
}

/* Fonts */ 
/* ---------------------- */
h1 {
  font-size: 2.25rem;
  line-height: 4.5rem;
}
.h1-small {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
h2 {
  font-size: 2rem;
  line-height: 2.25rem;
  padding-bottom: 20px;
}

/* ---------------------- */
/* GENERAL SETTINGS       */
/* ---------------------- */

/* set up the body */
/* ---------------------- */
body {
    font-family: var(--font-family-primary);
    font-weight: 300;
    font-size: 1rem;
    background-color: var(--color-white);
    color: var(--color-black);
    line-height: 1.5;
    height:100%;
}

main {
  min-height:100%;
}

/* Font - Color */
/* ---------------------- */
.color-white { color: var(--color-white); }
.color-accent { color: var(--color-accent); }
.color-primary { color: var(--color-primary); }

/* Typography */
/* ---------------------- */
.uppercase { text-transform: uppercase; }
.bold { font-weight: bold; }
.small { font-size: 12px; }

/* Borders */ 
/* ---------------------- */
.border-left-primary { 
  padding-left: 20px;
  border-left: 5px solid var(--color-primary);
}
.border-left-accent { 
  padding-left: 20px;
  border-left: 5px solid var(--color-accent);
}

.border-meditation {
  border-bottom: var(--border-width) solid var(--color-meditation) !important;
}
.border-movement {
  border-bottom: var(--border-width) solid var(--color-movement) !important;
}
.border-combat {
  border-bottom: var(--border-width) solid var(--color-combat) !important;
}
.border-basics {
  border-bottom: var(--border-width) solid var(--color-accent) !important;
}
.border-movement-meditation {
  position: relative;
}
.border-movement-meditation::before,
.border-movement-meditation::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
}
.border-movement-meditation::before {
  left: 0;
  border-bottom: var(--border-width) solid var(--color-movement); /* Left half border color */
}
.border-movement-meditation::after {
  right: 0;
  border-bottom: var(--border-width) solid var(--color-meditation); /* Right half border color */
}
.border-bottom-0 {
  border-bottom: 0 !important;
} 

/* Button */ 
/* ---------------------- */
input, button, textarea, select {
  font: inherit;
}

.btn-accent {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  border: 1px solid var(--color-accent);
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: var(--color-accent); 
  color: var(--color-black);

  padding: 0.3rem 0.6rem;
  font-size: 1.3rem;
  line-height: 1.5;

  text-decoration: none;
}

.btn-accent:hover {
  background-color: var(--color-white);
  color: var(--color-accent);
  cursor: pointer;
}

/* Links */
/* ---------------------- */
.primary-link {
  color: var(--color-primary);
  text-decoration: none;
}
.primary-link:hover {
  color: var(--color-accent);
  text-decoration: underline;
}

/* Images */
/* ---------------------- */
.round-img {
  border-radius: 50%;
}
.page-not-found-img-container {
  padding: 5%;
}
.page-not-found-img {
  width: 100%;
}


/* ---------------------- */
/* TOOLKIT                */
/* ---------------------- */

/* Margins / Paddings */
/* ---------------------- */
.mt-1 { margin-top: 1rem; }
.mt-2 { margin-top: 2rem; }
.mt-3 { margin-top: 3rem; }

.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 2rem; }
.mb-3 { margin-bottom: 3rem; }

.p-inline-1 { padding-inline: 5%; }
/* ---------------------- */
/* DISPLAY                */
/* ---------------------- */
.d-block { display: block; }
.d-grid { display: grid; }

/* Flex */ 
/* ---------------------- */
.d-flex { display: flex; }

.flex-wrap {
  flex-wrap: wrap;
}

.flex-gap-1 {
  gap: 1rem;
}

.flex-item {
  flex: 0 0 100%;
  max-width: 100%;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center { 
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* Table */ 
/* ---------------------- */
.table {
  padding: 5%;
  text-align: center;
}
.table-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-items: center;
}
.table-row-head {
  flex: 0 0 20%;
  max-width: 20%;
  border: 1px solid black;
  font-weight: bold;
}
.table-col {
  flex: 0 0 20%;
  max-width: 20%;
  border: 1px solid black;
  height: 100%;
}
/* ---------------------- */
/* NAVIGATION             */
/* ---------------------- */
.header {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: var(--color-black);
    background: var(--color-header);
    padding: 10px;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    width:100%;

    box-shadow: 0px 4px 6px rgba(15, 56, 116, 0.1);
}
.nav-toggle {
  display: none;
}
#nav-toggle:checked~nav .navigation {
  transform:translateX(0%);
  z-index:1;
}
.navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  position: fixed;
  inset: 75px 0 0 30%;
  flex-direction: column;
  padding: min(10vh, 3rem) 2rem;
  height: 100%;
  background: var(--color-header);
  opacity: 0.9;
  transform:translateX(100%);
  transition: transform 350ms ease-out;
}

.nav-toggle-label {
  cursor:pointer;
  border:0;
  width:2rem;
  height:2rem;

  display: block;
  position: absolute;
  right:1rem;
  z-index:99999;
}

  /* Navigation logo */
  /* ---------------------- */
  .logo-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    white-space: break-spaces;
  }
  .logo-title {
    font-size: 1.5rem;
  }
  .logo-title-small {
    font-size: 1rem;
  }
  .logo-img {
    width:75px;
  }

  /* Navigation links */
  /* ---------------------- */
  .navigation > li {
    list-style: none;
  }

  .navigation a {
    color: var(--color-black);
    text-decoration: none;
  }
  .navigation a.active {
    color: var(--color-black);
    text-decoration: underline;
    text-decoration-color: var(--color-black);
  }
  .navigation a:hover {
    color: var(--color-primary);
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
  }

/* ---------------------- */
/* BOXES                  */
/* ---------------------- */
.box {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 100%;
  word-wrap: break-word;
  background-color: #57625f;
  background-clip: border-box;
  border-radius: 20px;
  margin-bottom: 2rem;
}
.box-img-container {
  padding-block: 5%;
  display:flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.box-img {
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
  width: 60%;  
  height: 60%;
}
.box-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  color: var(--color-black);
  border-top: 1px solid var(--color-accent);
  border-bottom: 1px solid var(--color-accent);
  background-color: var(--color-accent);
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-title {
  margin: 0.5rem 0;
  text-align:center;
  font-size: 1.5rem;
}
.box-body {
  flex: 1 1 auto;
  padding: 5%;
}

/* ---------------------- */
/* SECTIONS               */
/* ---------------------- */

/* Hero Sections */ 
/* ---------------------- */
.hero-img-index {
  background-image: url(../../assets/img/hero/hero-index.png);
}
.hero-img-training {
  background-image: url(../../assets/img/hero/hero-training.jpg);
  background-position: left !important;
}
.hero-img-price {
  background-image: url(../../assets/img/hero/hero-price.jpg);
}
.hero-img-contact {
  background-image: url(../../assets/img/hero/hero-contact.jpg);
  background-position: left !important;
}
.hero-img-thank-you {
  background-image: url(../../assets/img/hero/hero-thank-you.jpg);
}
.hero-section {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  color: var(--color-white);

  display: flex;
  flex-direction: column;
  place-content:center;
  text-align:center;
  min-height:400px;

  position:relative;
  margin-top:151px; /* the height of navigation in 360px width mobile device */
  isolation:isolate; /* creating stacking context */
}
.hero-section::after {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--color-secondary);
  z-index: -1;
  opacity: 0.4;
}
.hero-heading-box {
  color: var(--color-white);
  background-color: var(--color-black);
  opacity: 0.8;
  width:100%;
  padding: 2%;
}

/* Intro */ 
/* ---------------------- */
.intro-section {
  padding: 10% 5%;
  background-color:var(--color-gray);
}
.info-btn-container {
  text-align: right;
}

/* 5 Pillars of Kung Fu */ 
/* ---------------------- */
.five-pillars-section {
  padding: 10% 5%;
  background-color: var(--color-secondary-alpha-09);
  color: var(--color-white);
}
.pillar-items-groups {
  margin-top: 50px;
}
.pillar-items-groups, 
.pillar-items-group-1, .pillar-items-group-2,
.pillar-items-group-3, .pillar-items-group-4 {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
  max-width: 100%;
}
.pillar-items-group-1 {
  order: 1;
  text-align: center;
}
.pillar-items-group-2 {
  order: 2;
}
.pillar-items-group-3 {
  order: 3;
}
.pillar-items-group-4 {
  order: 4;
}
.pillar-item {
  flex: 0 0 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;

  margin-top: 25px;
}
.pillar-item img {
  width: 80%;
  max-width: 289px;
}
.pillar-item h3 {
  text-transform: uppercase;
  color: var(--color-primary);
  font-weight: 300;
  font-size: 1.5rem;
}
.pillar-item p {
  padding-left: 20px;
}

/*Kung Fu Styles - Section */
.styles-section {
  background-color: var(--color-white);
}
.tab {
  overflow: hidden;
  border: 1px solid var(--color-white);
  background-color: var(--color-secondary);
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 1.25rem;
  color: var(--color-white);
}
.tab button.active {
  background-color: var(--color-primary);
}
.tab button:hover {
  background-color: var(--color-accent);
}
.tabcontent {
  display: none;
  padding: 5%;
  box-shadow: 0px 4px 6px rgba(15, 56, 116, 0.1);
  border-top: none;
}
.tabcontent h3 {
  color: var(--color-primary);
}
.tabcontent p {
  padding-left: 15px;
  padding-bottom: 20px;
}
.tabcontent .video {
  width: 100%;
  height: 300px;
}

/* The Art of Section */ 
/* ---------------------- */
.section-art {
  background-color: var(--color-secondary-alpha-09);
  color: white;
  padding-block: 10%;
}
.section-art h2 {
  padding-inline: 5%;
  padding-bottom: 10%;
}
.section-art .d-flex {
  flex-direction: column;
}

/*Training Schedule */
/* ---------------------- */
.section-schedule {
  font-size: 13px;
  padding: 10% 1% 0% 1%;
  margin-bottom:5%;
}
.section-schedule h2 {
  padding-inline: 5%;
}
.schedule-grid {
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  border-top: 1px solid black;
  border-right: 1px solid black;
  width:100%;
  overflow-x: scroll;
}
.schedule-header {
  font-weight: bold;
  background-color: var(--color-gray); 
  color: var(--color-secondary);
}
.schedule-grid div {
  padding: 8px 4px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Price Page Intro */ 
.intro-price {
  padding: 5%;
  text-align: center;
}

/* Price Table Section */
/* ---------------------- */
.price-table-section {
  padding-inline: 1%;
  margin-bottom: 20px;
}
.single-price {
  transition: .7s;
  margin-top: 20px;
  padding-bottom: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 2rem;
}
.single-price h3 {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  margin-top: -80px;
  color: var(--color-white);
}
.single-price h4 {
  text-align:center;
  font-size: 48px;
  font-weight: 500;
}
.single-price h4 span.sup {
  vertical-align: text-top;
  font-size: 25px;
}
.deal-top {
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  padding: 136px 24px 0;
  border-radius: 2rem 2rem 0 0;
}
.deal-top-color-1 {
  background: rgb(184, 8, 14);
  color: #2e2d2d;
}
.deal-top-color-2 {
  background: #d28303;
}
.deal-top-color-3 {
  background: rgb(40, 128, 101);
}
.deal-top-color-4 {
  background: black;
}
.deal-bottom {
  padding: 20px 30px 0;
}
.deal-bottom p {
    text-align:left;
    display: flex;
    align-items: center;
    justify-content:center;
}

/* Form Section */
.intro-contact {
  padding:  5% 5% 0% 5%;
}
.form-section {
  padding: 5%;
}
.form-section label {
  font-weight: bold;
}
.form-control {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control-input {
  width: 80%;
}
.form-control-textarea {
  width: 100%;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Thank You Section */
/* ---------------------- */
.intro-thank-you {
  padding:  5% 5% 5% 5%;
}
.intro-thank-you ul {
  list-style: none;
}

.page-not-found {
  margin-top:151px; /* the height of navigation in 360px width mobile device */
  padding: 5%;
  text-align: center;
}

/* ---------------------- */
/* FOOTER                 */
/* ---------------------- */
footer {
  display: flex;
  flex-direction: column;

  padding-bottom: 50px;
  background-color: var(--color-secondary);
  color: var(--color-white);
  gap: 20px;
}
.footer-row {
  display: flex;
  flex-direction: row;

  gap: 20px;
  flex-wrap: wrap;
}
.footer-item {
  text-align: center;
  flex-grow: 1;
  max-width: 100%;
}
footer h3 {
  font-size: 20px;
  line-height: 50px;
}
.social-container {
  display: flex;
  justify-content: space-around;
  margin-top:20px;
}
footer a {
  text-decoration: none;
}



/* ---------------------- */
/* MEDIA QUERYS           */
/* ---------------------- */

/* Tablet                 */
/* ---------------------- */
@media (min-width: 610px) {

  /* General                */
  /* ---------------------- */
  h1 {
    font-size: 3rem;
    line-height: 4.75rem;
  }
  .h1-small {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    padding-bottom: 20px;
  }
  
  .footer-row {
    flex-direction: row;
  }
  .flex-item-41 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .flex-item-33 {
    flex: 0 0 33%;
    max-width: 33%;
  }

  /* Navigation             */
  /* ---------------------- */
  .navigation {
    position: relative;
    inset: 0 0 0 0;
    flex-direction: row;
    padding: 0;
    opacity: 1;
    transform:translateX(0%);
    transition: transform 350ms ease-out;
  }
  .nav-toggle-label {
    display: none;
  }

  /* Homepage               */
  /* ---------------------- */
  .hero-section {
    margin-top: 95px;
  }
  .hero-heading-box {
    width:80%;
  }
  .intro-section {
    padding: 5% 5%;
  }
  .five-pillars-section {
    padding: 5% 5%;
  }

  /* Training               */
  /* ---------------------- */
  .tab {
    text-align: center;
  }
  .tab button {
    float:unset;
  }
  .tabcontent p {
    padding-left: 15px;
    padding-bottom: 20px;
  }
  .tabcontent .video {
    width: 100%;
    height: 400px;
  }
  .section-art h2 {
    padding-inline: 5%;
    padding-bottom: 5%;
  }
  .section-art .d-flex {
    flex-direction: row;
  }
  .box-title {
    font-size: 1.25rem;
  }
  .box-header {
    min-height: 102px;
  }
  .section-schedule .d-flex {
    flex-direction: column;
  }
  .section-schedule {
    font-size: 1rem;
  }
  /* 404 */ 
  /* ---------------------- */
  .page-not-found-img-container {
    padding: 0%;
    text-align: center;
  }
  .page-not-found-img {
    width: 30%;
  }
}


/* Desktop                */
/* ---------------------- */
@media (min-width: 1100px) {

  /* General                */
  /* ---------------------- */
  body {
    font-size: 1.25rem;
  }
  
  .header {
    padding-right: 40px;
  }
  .logo-title {
    font-size: 2.25rem;
  }
  .logo-title-small {
    font-size: 1.5rem;
  }
  .logo-img {
    width:100px;
  }
  .footer-row {
    justify-content: center;
  }
  .footer-item {
    max-width: 80%;
  }
  .hero-section {
    min-height: 500px;
  }
  .flex-item-20 {
    flex: 0 0 23%;
    max-width: 23%;
  }

  /* Homepage               */
  /* ---------------------- */
  .hero-heading-box {
    width:40%;
  }
  .info-btn-container {
    text-align: left;
  }
  .pillar-items-group-1 {
    order: 2;
    flex: 0 0 33%;
    max-width: 33%;
  }
  .pillar-items-group-2 {
    order: 1;
    flex: 0 0 33%;
    max-width: 33%;
  }
  .pillar-items-group-3 {
    order: 3;
    flex: 0 0 33%;
    max-width: 33%;
  }
  .pillar-items-group-4 {
    order: 4;
  }

  /* Training               */
  /* ---------------------- */
  .tab {
    padding-inline: 0;
  }
  .styles-section {
    margin-block: 3%;
    margin-inline: 5%;
  }
  .tabcontent iframe {
    text-align: center;
  }
  .tabcontent .video {
    width: 100%;
    height: 400px;
  }
  .section-art {
    padding-block: 5%;
  }
  .section-schedule {
    padding: 5% 10% 0% 10%;
    font-size: 1.25rem;
  }
  .schedule-grid {
    overflow-x: hidden;
  }
  /* Contact */
  /* ---------------------- */
  .intro-contact {
    padding:  5% 15% 0% 15%;
  }
  .form-control-input {
    width: 60%;
  }
}